* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ysabeau', sans-serif;
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 0.5fr 3.5fr 0.5fr;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  background-color: #E0FF4F;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.sidebar>.logo-div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1.5fr;
  margin: 10px 50px 10px 10px;
}

.sidebar>.logo-div>img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: clamp(5rem, 6vw, 10rem);
}

.sidebar>.logo-div>h1 {
 grid-column: 2 / 3;
 grid-row: 1 / 2; 
 font-size: 1.5rem;
}

.sidebar>.logo-div>.subheading {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 1rem;
}

.sidebar>.nav-grid {
  padding: 30px;
  display: grid;
  grid-gap: 5px;
}

.sidebar>.nav-grid>.nav-grid-item {
  margin: 3px;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar>.nav-grid>.nav-grid-item>img {
  height: 20px;
  margin-right: 10px;
}

.sidebar>.tools-grid {
  padding: 30px;
  display: grid;
  grid-gap: 5px;
}

.sidebar>.tools-grid>.tools-grid-item {
  margin: 3px;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar>.tools-grid>.tools-grid-item>img {
  height: 20px;
  margin-right: 10px;
}

.header {
  background-color: #FF6663;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header>.header-grid {
  display: grid;
  margin: 10px;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows 1fr 1.5fr;
  grid-gap: 15px;

}

.header>.header-grid>.search-bar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.header>.header-grid>.search-bar>img {
  height: 15px;
  margin-right: 5px;
}

.header>.header-grid>.search-bar>input {
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #0B3954;
  width: 300px;

}

.header>.header-grid>.header-profile {
 grid-row: 1 / 2;
 grid-column: 2 / 3;
}

.header>.header-grid>.welcome-message {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.header>.header-grid>.header-buttons {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.main-content-container {
  background-color: #BFD7EA;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.footer {
  background-color: #0B3954; 
  grid-row: 3 /4;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer>p {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer>a {
  color: white;
  font-size: 16px;
}